@import url('https://fonts.googleapis.com/css2?family=Allerta&display=swap');

:root {
	--dark-green: #197855;
	--light-green: #23965a;
	--uso-pink: #e985b0;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    user-select: none;
    overflow: hidden;
}

body {
    text-align: center;
    font-family: 'Allerta', sans-serif;
}

h2 {
	margin-top: 30px;
	margin-bottom: 20px;
}

button {
	cursor: pointer;
}

.container {
    position: relative;
}

Header {
    display: block;
    display: table;
    width: 100%;
    height: 80px;
    background-color: var(--dark-green);
    border: var(--light-green);
    border-top-style: solid;
    border-bottom-style: solid;
}

Header h1 {
    width: 100%;
    color: white;
    display: table-cell;
    vertical-align: middle;
}

Header h1 span:hover {
    color: var(--uso-pink);
    transition: 0.4s;
}

Header button {
    display: table; 
    height: 100%;
    margin: 0 30px;
    font-size: large;
    border: white;
    color: white;
    background: none;
    cursor: pointer;
    transition: 0.3s;
}

Header button:hover {
    background-color: var(--light-green);
    transition: 0.1s;
}

Header .buttonOn {
    background-color: var(--light-green);
    border-style: ridge;
}

.settings-box {
    position: absolute;
    width: 400px;
    top: 100px;
    right: -600px;
    padding: 10px 10px 20px 20px;
    border-radius: 20px 0 0 20px;
    background-color: var(--light-green);
    border: var(--dark-green);
    color: white;
    border-style: solid;
    transition: 0.8s;
}

.settings-box.open {
    right: 0px;
}

.settings-inner {
    position: relative;
}

.settings-box h2 {
    margin: 20px;
}

.underline {
	text-decoration: underline;
}

.burstBox {
	margin: 20px;
}

button {
	width: 100px;
	height: 50px;
}

.burstTable {
	width: 80%;
	margin: 0 10%;
	margin-top: 10px;
	color: white;
	border-collapse: collapse;
}

.burstTable table, th, td {
	border: 2px solid black;
}

.burstTable tr td {
	padding: 15px 15px;
}

.burstTable tr:nth-child(odd) {
	background-color: var(--light-green);
    font-size: larger;
}

.burstTable tr:nth-child(even) {
	background-color: var(--dark-green);
    text-align: left;
}
