@import url('https://fonts.googleapis.com/css2?family=Allerta&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

Header {
    background-color: #1ea064;
    border: #28be78;
    border-top-style: solid;
    border-bottom-style: solid;
    width: 100%;
    height: 80px;
    display: block;
    user-select: none;
}

.innerHeader {
    background-color: #1ea064;
    width: 1000px;
    height: 100%;
    display: block;
    margin: 0 auto;
}

.title {
    height: 100%;
    display: table;
    float: left;
}

.title h1 {
    height: 100%;
    color: white;
    display: table-cell;
    vertical-align: middle;
}

.menuOptions {
    height: 100%;
    float: right;
}

.menuOptions button {    
    height: 100%;
    display: table;
    float: left;
    padding: 0px 15px;
    margin-left: 20px;
    font-size: large;
    border: white;
    color: white;
    background: none;
    cursor: pointer;
    transition: 0.3s;
}

.menuOptions button:hover {
    background-color: #28be78;
}

.menuOptions button li {
    display: table-cell;
    vertical-align: middle;
}

body {
    text-align: center;
    font-family: 'Allerta', sans-serif;
}

