@import url('https://fonts.googleapis.com/css2?family=Allerta&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

Header {
    background-color: #1ea064;
    border: #28be78;
    border-top-style: solid;
    border-bottom-style: solid;
    width: 100%;
    height: 80px;
    display: block;
    user-select: none;
    display: table;
}

Header h1 {
    width: 100%;
    color: white;
    display: table-cell;
    vertical-align: middle;
}

Header h1 span:hover {
    color: #e15e99;
    transition: 0.4s;
}

Header button {
    display: table; 
    height: 100%;
    padding: 0px 35px;
    margin: 0 20px;
    font-size: large;
    border: white;
    color: white;
    background: none;
    cursor: pointer;
    transition: 0.3s;
}

Header button:hover {
    background-color: #28be78;
}

body {
    text-align: center;
    font-family: 'Allerta', sans-serif;
}

